html, body {
    height: 100%;
    margin: 0;
  }
  @font-face {
    font-family: coolFont;
    src: url(../fonts/MainFont.ttf);
  }
  @font-face {
    font-family: logoFont;
    src: url(../fonts/LogoFont.ttf);
  }
  @font-face {
    font-family: navFont;
    src: url(../fonts/NavFont.ttf);
  }
  
  .container {
    margin: 0 auto;
    width: 100%;
    height: 100%;
  }
  .greetingTxt{
    margin-top: 40%;
    color: #ffffff;
    overflow:hidden;
    text-align: center;
  }
  
  .container form {
    margin-bottom: 10px;
  }
  
  .container h1 {
    font-family: Arial, sans-serif;
    font-size: 3.5rem;
    color: #ffffff;
    margin-bottom: 0px;
    font-family: coolFont;
  }
  
  .container button {
    cursor: pointer;
    font-size: 12px;
    padding: 10px;
    border-radius: 3px;
    border-style: none;
    background: linear-gradient(42deg,#2a255083,#E04D01,#FF7700);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.3s ease 0s;
  }
  .container button:hover {
    background: linear-gradient(42deg,#2a255031,#e04b0181,#ff770087);
    box-shadow: 0px 5px 15px #e04b0187;
    transform: translateY(-4px);
  }
  
  .container input {
    width: 200px;
    height: 15px;
    font-size: 1rem;
    margin: 2px;
    padding: 5px;
    transition: all 0.2s ease-in-out;
  }
  
  .output {
    display: inline-block;
  }
  
  #main{
    grid-template-columns: 6FR 4FR 6FR ;
    grid-template-rows: 1FR 1FR;
    display: grid;
    background-image:url("../images/background.jpg") ;
    background-size: cover;
    height: 95%;
  }
  .ship{
    height: 50vh;
    float: right;
    margin-top: auto;
  }
  .dataInf{
    margin-left: 7.5%;
    width: 85%;
  }
  .infPointer{
    color: #ffffff;
    margin: auto;
    width:90%;
    margin-top: 40vh;
    text-align: center;
    -webkit-animation: hover 5s infinite; /* Safari 4.0 - 8.0 */
     animation: hover 5s infinite;
     font-family: Arial, Helvetica, sans-serif;
}
   @-webkit-keyframes hover {
     from {padding-top: 0%;}
     50%{padding-top: 2%}
     to {padding-top: 0%;}
   }
   
   @keyframes hover {
     from {padding-top: 0%;}
     50%{padding-top: 2%}
     to {padding-top: 0%;}
   }

   input[type="file"]{
    opacity: 0;
    z-index: -1;
    position: absolute;
    top: -1px;
    left: 0;
    width: 0.1px;
    height: 0.1px;
    user-select: none;
}

input[type="file"]:focus + label[for="files"]{
    border: 1px solid #85E5FF;
}

label[for="files"]{
    background: transparent;
    padding: 8px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 3px;
    border-width: 2px;
    border-style: solid;
    cursor: pointer;
    font-size: 12px;
    transition: all 0.3s ease 0s;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.101);
}

label[for="files"]:hover{
    background: linear-gradient(42deg,#2a255031,#e04b0181,#ff770087);
    box-shadow: 0px 5px 15px #e04b0187;
}
table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 6px;
  overflow: hidden;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
}
table * {
  position: relative;
}
table td, table th {
  padding-left: 8px;
}
table thead tr {
  height: 60px;
  background: #e04b01e0;
  color: white;
  font-size: 16px;
}
table tbody tr {
  height: 48px;
  border: 1px solid #000000;
}
table tbody tr:last-child {
  border: 0;
}
table tbody td {
  border: 4px solid #e04b01e0;
  border-bottom: 2px solid #e04b01e0;
  border-top: 2px solid #e04b01e0;
}
table td, table th {text-align: center
}
table td.l, table th.l {
  text-align: right;
}
table td.c, table th.c {
  text-align: center;
}
table td.r, table th.r {
  text-align: center;
}
@media screen and (max-width: 35.5em) {
  table {
    display: block;
 }
  table > *, table tr, table td, table th {
    display: block;
 }
  table thead {
    display: none;
 }
  table tbody tr {
    height: auto;
    padding: 8px 0;
 }
  table tbody tr td {
    padding-left: 45%;
    margin-bottom: 12px;
 }
  table tbody tr td:last-child {
    margin-bottom: 0;
 }
  table tbody tr td:before {
    position: absolute;
    font-weight: 700;
    width: 40%;
    left: 10px;
    top: 0;
 }
  table tbody tr td:nth-child(1):before {
    content: "Code";
 }
  table tbody tr td:nth-child(2):before {
    content: "Stock";
 }
  table tbody tr td:nth-child(3):before {
    content: "Cap";
 }
  table tbody tr td:nth-child(4):before {
    content: "Inch";
 }
  table tbody tr td:nth-child(5):before {
    content: "Box Type";
 }
}
.dataInf h2{
  font-family: Arial, Helvetica, sans-serif;
  width: 60%;
  margin-left: 20%;
  text-align: center;
  background: linear-gradient(42deg,#2a2550c3,#E04D01,#ff9a41);
  background-size: 600% 600%;
  
  -webkit-animation: AnimationName 3s ease infinite;
  -moz-animation: AnimationName 3s ease infinite;
  -o-animation: AnimationName 3s ease infinite;
  animation: AnimationName 3s ease infinite;
 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 51%}
  100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 51%}
  100%{background-position:0% 50%}
}
@-o-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 51%}
  100%{background-position:0% 50%}
}
@keyframes AnimationName { 
  0%{background-position:0% 50%}
  50%{background-position:100% 51%}
  100%{background-position:0% 50%}
}
.navBar{
  position: absolute;
  width: 100%;
}
.navBlock{
  float: right;
  background: transparent;
  margin-right: 20px;
  margin-top: 10px;
  padding: 8px;
  color: white;
  font-family: navFont;
  cursor: pointer;
  font-size: 1.5em;
  text-shadow: 0px 2px 1px #e04b01;
  font-weight: 100;
}
.navBlock:hover{
  transition: all 0.3s ease 0s;
  -webkit-animation: drift2 1.5s infinite; /* Safari 4.0 - 8.0 */
   animation: drift2 1.5s infinite ;
}
.navLogo{
  float: left;
  background: transparent;
  margin-left: 25px;
  margin-top: 5px;
  padding: 8px;
  color: white;
  font-family: logoFont;
  cursor: pointer;
  font-size: 1.5em;
  transition: all 0.3s ease 0s;
  text-shadow: 0px 2px 1px #e04b01;
  font-weight: 500;
  -webkit-animation: drift 5s infinite; /* Safari 4.0 - 8.0 */
   animation: drift 5s infinite ;
}
@keyframes drift{
  from {color: white;
   text-shadow: 0px 2px 1px #e04b01;}
  33%{color: #E04D01;
   text-shadow: 1px 2px 1px #2A2550;}
  66% {color: #2A2550;
   text-shadow: -1px 2px 1px white;}
  to{color:white;
   text-shadow: 0px 2px 1px #e04b01;}
}
 @-webkit-keyframes drift {
   from {color: white;
    text-shadow: 0px 2px 1px #e04b01;}
   33%{color: #E04D01;
    text-shadow: 1px 2px 1px #2A2550;}
   66% {color: #2A2550;
    text-shadow: -1px 2px 1px white;}
   to{color:white;
    text-shadow: 0px 2px 1px #e04b01;}
 }
 @keyframes drift2 {
   from {color: white;
    text-shadow: 0px 2px 1px #e04b01;}
   66%{color: #E04D01;
    text-shadow: 1px 2px 1px #2A2550;}
   33% {color: #2A2550;
    text-shadow: -1px 2px 1px white;}
   to{color:white;
    text-shadow: 0px 2px 1px #e04b01;}
 }
 @-webkit-keyframes drift2 {
   from {color: white;
    text-shadow: 0px 2px 1px #e04b01;}
   66%{color: #E04D01;
    text-shadow: 1px 2px 1px #2A2550;}
   33% {color: #2A2550;
    text-shadow: -1px 2px 1px white;}
   to{color:white;
    text-shadow: 0px 2px 1px #e04b01;}
 }
 .game{
  background: linear-gradient(#2a2550b2 ,#e04b01d7 ,#ff9a41 );
   height: 70%;
   float: left;
   width: 100%;
   overflow: hidden;
 }
 svg{
   margin-top: -2px;
 }
 #stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 163px 1552px #FFF , 1884px 992px #FFF , 1527px 1613px #FFF , 983px 857px #FFF , 534px 1469px #FFF , 600px 1611px #FFF , 1377px 1443px #FFF , 1329px 1707px #FFF , 1054px 1469px #FFF , 388px 1028px #FFF , 871px 54px #FFF , 916px 1482px #FFF , 381px 1546px #FFF , 1715px 740px #FFF , 42px 1183px #FFF , 1099px 1451px #FFF , 794px 1381px #FFF , 1273px 279px #FFF , 1514px 1152px #FFF , 1598px 850px #FFF , 167px 214px #FFF , 360px 592px #FFF , 904px 1067px #FFF , 1846px 1979px #FFF , 1348px 1279px #FFF , 861px 619px #FFF , 429px 868px #FFF , 1234px 1120px #FFF , 1200px 804px #FFF , 1394px 1809px #FFF , 1177px 1704px #FFF , 848px 1662px #FFF , 1703px 1165px #FFF , 1363px 602px #FFF , 1901px 810px #FFF , 1412px 898px #FFF , 1019px 24px #FFF , 1232px 810px #FFF , 2px 1529px #FFF , 1953px 803px #FFF , 819px 1770px #FFF , 600px 789px #FFF , 247px 630px #FFF , 1362px 738px #FFF , 1621px 923px #FFF , 1658px 76px #FFF , 1928px 379px #FFF , 780px 1356px #FFF , 377px 1767px #FFF , 208px 308px #FFF , 258px 171px #FFF , 1297px 60px #FFF , 585px 1169px #FFF , 1149px 1350px #FFF , 834px 726px #FFF , 1598px 1280px #FFF , 309px 1488px #FFF , 410px 741px #FFF , 1667px 1185px #FFF , 1080px 455px #FFF , 1352px 1392px #FFF , 1356px 1721px #FFF , 1719px 1829px #FFF , 1607px 280px #FFF , 1245px 1721px #FFF , 1719px 209px #FFF , 1023px 251px #FFF , 1305px 167px #FFF , 555px 149px #FFF , 829px 1525px #FFF , 1664px 7px #FFF , 874px 1744px #FFF , 1504px 1876px #FFF , 645px 1488px #FFF , 881px 288px #FFF , 192px 493px #FFF , 105px 1740px #FFF , 1914px 1739px #FFF , 345px 339px #FFF , 1080px 1669px #FFF , 1873px 829px #FFF , 563px 593px #FFF , 352px 424px #FFF , 1844px 955px #FFF , 1209px 1760px #FFF , 418px 894px #FFF , 1049px 1375px #FFF , 1013px 1804px #FFF , 670px 1223px #FFF , 1168px 343px #FFF , 1359px 751px #FFF , 332px 1781px #FFF , 1149px 539px #FFF , 885px 1650px #FFF , 1443px 1489px #FFF , 443px 1872px #FFF , 417px 73px #FFF , 829px 8px #FFF , 1803px 941px #FFF , 113px 1669px #FFF , 1954px 362px #FFF , 1675px 1871px #FFF , 1004px 1838px #FFF , 769px 1392px #FFF , 1061px 186px #FFF , 1419px 312px #FFF , 311px 912px #FFF , 1399px 1155px #FFF , 444px 1704px #FFF , 702px 1503px #FFF , 1042px 564px #FFF , 211px 596px #FFF , 693px 1894px #FFF , 113px 99px #FFF , 145px 1836px #FFF , 918px 999px #FFF , 1267px 1987px #FFF , 221px 683px #FFF , 1333px 1332px #FFF , 275px 493px #FFF , 141px 267px #FFF , 91px 225px #FFF , 1622px 1411px #FFF , 1925px 925px #FFF , 234px 44px #FFF , 677px 728px #FFF , 1703px 1080px #FFF , 691px 572px #FFF , 1895px 1881px #FFF , 1332px 729px #FFF , 1344px 1067px #FFF , 544px 805px #FFF , 519px 831px #FFF , 1319px 1535px #FFF , 1756px 486px #FFF , 623px 760px #FFF , 1583px 202px #FFF , 350px 1361px #FFF , 698px 46px #FFF , 488px 908px #FFF , 1757px 1469px #FFF , 264px 1419px #FFF , 466px 1257px #FFF , 1848px 1264px #FFF , 633px 245px #FFF , 1866px 678px #FFF , 1969px 1217px #FFF , 1694px 1986px #FFF , 616px 49px #FFF , 1530px 1783px #FFF , 1429px 366px #FFF , 188px 1652px #FFF , 1771px 512px #FFF , 799px 862px #FFF , 1638px 331px #FFF , 821px 7px #FFF , 1469px 1623px #FFF , 970px 1532px #FFF , 122px 1530px #FFF , 57px 1498px #FFF , 57px 1277px #FFF , 298px 151px #FFF , 1492px 1085px #FFF , 191px 1201px #FFF , 1654px 1859px #FFF , 1011px 1395px #FFF , 652px 811px #FFF , 529px 1588px #FFF , 961px 1454px #FFF , 885px 319px #FFF , 1949px 1934px #FFF , 566px 494px #FFF , 542px 679px #FFF , 1112px 1382px #FFF , 1796px 170px #FFF , 1283px 1656px #FFF , 1274px 349px #FFF , 566px 1383px #FFF , 1209px 687px #FFF , 1170px 1125px #FFF , 1006px 1712px #FFF , 549px 1995px #FFF , 541px 726px #FFF , 1518px 147px #FFF , 796px 1789px #FFF , 294px 115px #FFF , 666px 1910px #FFF , 336px 83px #FFF , 1055px 1396px #FFF , 934px 310px #FFF , 1486px 1092px #FFF , 520px 1903px #FFF , 1630px 1595px #FFF , 733px 509px #FFF , 746px 240px #FFF , 705px 1322px #FFF , 1252px 1845px #FFF , 625px 1848px #FFF , 54px 66px #FFF , 1302px 70px #FFF , 1897px 67px #FFF , 1046px 1136px #FFF , 722px 929px #FFF , 720px 1818px #FFF , 1892px 912px #FFF , 1954px 1698px #FFF , 211px 478px #FFF , 1921px 1143px #FFF , 927px 1638px #FFF , 1658px 1015px #FFF , 1540px 31px #FFF , 612px 510px #FFF , 1229px 1341px #FFF , 909px 1357px #FFF , 1398px 1789px #FFF , 1665px 1005px #FFF , 1539px 1849px #FFF , 34px 1324px #FFF , 565px 1338px #FFF , 851px 579px #FFF , 1596px 530px #FFF , 1109px 463px #FFF , 869px 1489px #FFF , 1513px 733px #FFF , 1896px 1025px #FFF , 654px 1185px #FFF , 985px 188px #FFF , 100px 1274px #FFF , 870px 1147px #FFF , 982px 87px #FFF , 186px 233px #FFF , 1082px 885px #FFF , 1163px 591px #FFF , 133px 1042px #FFF , 671px 1914px #FFF , 677px 566px #FFF , 1169px 816px #FFF , 32px 1484px #FFF , 1155px 878px #FFF , 691px 519px #FFF , 614px 868px #FFF , 350px 684px #FFF , 1456px 1471px #FFF , 1390px 1287px #FFF , 767px 1507px #FFF , 312px 769px #FFF , 1086px 1319px #FFF , 80px 1491px #FFF , 790px 949px #FFF , 930px 854px #FFF , 638px 1461px #FFF , 148px 1437px #FFF , 301px 817px #FFF , 1911px 1385px #FFF , 1960px 545px #FFF , 1216px 1481px #FFF , 1839px 746px #FFF , 1029px 1564px #FFF , 35px 234px #FFF , 952px 1346px #FFF , 762px 579px #FFF , 877px 1592px #FFF , 192px 1922px #FFF , 1517px 1403px #FFF , 1515px 1758px #FFF , 390px 793px #FFF , 1016px 187px #FFF , 1515px 129px #FFF , 189px 1639px #FFF , 146px 318px #FFF , 440px 1518px #FFF , 1564px 1442px #FFF , 564px 22px #FFF , 521px 546px #FFF , 1500px 246px #FFF , 1728px 1635px #FFF , 1821px 1871px #FFF , 949px 321px #FFF , 1229px 1045px #FFF , 1828px 343px #FFF , 1882px 82px #FFF , 1282px 1324px #FFF , 555px 795px #FFF , 1280px 894px #FFF , 370px 1853px #FFF , 68px 1460px #FFF , 1423px 324px #FFF , 1603px 1360px #FFF , 327px 1924px #FFF , 380px 1046px #FFF , 1038px 1894px #FFF , 1870px 550px #FFF , 57px 645px #FFF , 455px 1089px #FFF , 1670px 1398px #FFF , 853px 1905px #FFF , 415px 1356px #FFF , 246px 18px #FFF , 670px 1214px #FFF , 1788px 191px #FFF , 969px 1141px #FFF , 1478px 1122px #FFF , 1831px 919px #FFF , 843px 1947px #FFF , 1248px 547px #FFF , 895px 1614px #FFF , 1464px 1872px #FFF , 721px 1128px #FFF , 551px 1245px #FFF , 1716px 399px #FFF , 53px 1366px #FFF , 1426px 540px #FFF , 564px 434px #FFF , 860px 816px #FFF , 18px 552px #FFF , 1838px 795px #FFF , 1581px 1008px #FFF , 666px 339px #FFF , 1878px 1745px #FFF , 1124px 1612px #FFF , 708px 1182px #FFF , 1799px 1100px #FFF , 410px 485px #FFF , 1117px 964px #FFF , 1315px 466px #FFF , 1527px 1754px #FFF , 1737px 785px #FFF , 407px 1442px #FFF , 1825px 1972px #FFF , 445px 1779px #FFF , 403px 1370px #FFF , 1574px 854px #FFF , 218px 826px #FFF , 1079px 1251px #FFF , 1587px 1064px #FFF , 1086px 1779px #FFF , 1672px 543px #FFF , 1030px 1448px #FFF , 305px 856px #FFF , 1975px 445px #FFF , 160px 229px #FFF , 322px 1379px #FFF , 1110px 918px #FFF , 1611px 1424px #FFF , 593px 190px #FFF , 128px 820px #FFF , 1619px 165px #FFF , 1037px 121px #FFF , 931px 1904px #FFF , 577px 1466px #FFF , 1433px 399px #FFF , 13px 733px #FFF , 186px 291px #FFF , 1419px 714px #FFF , 702px 71px #FFF , 1544px 629px #FFF , 983px 1678px #FFF , 1733px 1816px #FFF , 217px 1656px #FFF , 758px 1701px #FFF , 1936px 189px #FFF , 1789px 1052px #FFF , 1118px 76px #FFF , 640px 299px #FFF , 1001px 234px #FFF , 819px 1827px #FFF , 1291px 279px #FFF , 1493px 401px #FFF , 319px 368px #FFF , 1444px 315px #FFF , 1468px 683px #FFF , 212px 1702px #FFF , 186px 482px #FFF , 680px 744px #FFF , 276px 1943px #FFF , 1447px 1514px #FFF , 467px 902px #FFF , 1226px 230px #FFF , 1268px 1224px #FFF , 542px 477px #FFF , 512px 1017px #FFF , 1671px 521px #FFF , 1481px 1734px #FFF , 596px 70px #FFF , 653px 1037px #FFF , 1435px 729px #FFF , 1335px 1952px #FFF , 554px 438px #FFF , 373px 982px #FFF , 1545px 214px #FFF , 1648px 1311px #FFF , 729px 665px #FFF , 297px 359px #FFF , 206px 718px #FFF , 1243px 1607px #FFF , 366px 236px #FFF , 1680px 1136px #FFF , 590px 728px #FFF , 140px 146px #FFF , 1447px 69px #FFF , 1953px 1313px #FFF , 1503px 1274px #FFF , 407px 996px #FFF , 1971px 206px #FFF , 641px 1258px #FFF , 459px 368px #FFF , 1558px 1477px #FFF , 718px 1334px #FFF , 1345px 1062px #FFF , 34px 1366px #FFF , 1222px 1177px #FFF , 1178px 1020px #FFF , 1740px 1151px #FFF , 755px 1606px #FFF , 465px 1078px #FFF , 1100px 1063px #FFF , 1585px 1267px #FFF , 925px 498px #FFF , 169px 1691px #FFF , 292px 1858px #FFF , 1479px 47px #FFF , 967px 558px #FFF , 1200px 599px #FFF , 793px 833px #FFF , 568px 556px #FFF , 1290px 1258px #FFF , 1698px 295px #FFF , 1230px 1311px #FFF , 1281px 898px #FFF , 1720px 225px #FFF , 27px 487px #FFF , 106px 187px #FFF , 965px 332px #FFF , 1416px 705px #FFF , 1334px 555px #FFF , 41px 1506px #FFF , 592px 787px #FFF , 322px 499px #FFF , 1980px 382px #FFF , 1877px 958px #FFF , 1736px 1029px #FFF , 1539px 541px #FFF , 1140px 391px #FFF , 461px 952px #FFF , 1444px 1679px #FFF , 1610px 1940px #FFF , 1082px 1078px #FFF , 1361px 578px #FFF , 1331px 288px #FFF , 1582px 1454px #FFF , 480px 1573px #FFF , 1185px 71px #FFF , 759px 51px #FFF , 787px 688px #FFF , 1540px 470px #FFF , 4px 1126px #FFF , 1569px 1115px #FFF , 478px 266px #FFF , 1362px 1187px #FFF , 1241px 39px #FFF , 1067px 580px #FFF , 500px 915px #FFF , 854px 556px #FFF , 686px 342px #FFF , 990px 479px #FFF , 1520px 1534px #FFF , 296px 681px #FFF , 1267px 1729px #FFF , 221px 1603px #FFF , 33px 45px #FFF , 131px 797px #FFF , 73px 1050px #FFF , 336px 1677px #FFF , 1568px 1949px #FFF , 57px 652px #FFF , 912px 769px #FFF , 1731px 1588px #FFF , 1847px 1147px #FFF , 1563px 1010px #FFF , 1243px 1222px #FFF , 1979px 1669px #FFF , 1990px 95px #FFF , 1369px 1404px #FFF , 1649px 1043px #FFF , 1514px 326px #FFF , 94px 1886px #FFF , 633px 1225px #FFF , 947px 885px #FFF , 393px 766px #FFF , 160px 876px #FFF , 1735px 1612px #FFF , 411px 606px #FFF , 843px 156px #FFF , 1660px 1487px #FFF , 505px 89px #FFF , 405px 1785px #FFF , 354px 1410px #FFF , 1064px 1483px #FFF , 1428px 526px #FFF , 1101px 1353px #FFF , 1333px 189px #FFF , 1133px 406px #FFF , 1002px 1309px #FFF , 861px 99px #FFF , 650px 269px #FFF , 350px 1419px #FFF , 1234px 1590px #FFF , 968px 65px #FFF , 1593px 373px #FFF , 1873px 898px #FFF , 335px 301px #FFF , 1803px 1189px #FFF , 653px 315px #FFF , 1575px 659px #FFF , 241px 358px #FFF , 1589px 1142px #FFF , 530px 1293px #FFF , 1569px 1544px #FFF , 620px 453px #FFF , 1094px 1393px #FFF , 793px 94px #FFF , 1401px 1133px #FFF , 114px 1606px #FFF , 384px 553px #FFF , 44px 1989px #FFF , 539px 850px #FFF , 458px 127px #FFF , 432px 46px #FFF , 1046px 859px #FFF , 1670px 1643px #FFF , 1428px 170px #FFF , 573px 1866px #FFF , 557px 1495px #FFF , 1620px 1599px #FFF , 238px 373px #FFF , 1047px 1468px #FFF , 1866px 110px #FFF , 1209px 651px #FFF , 1292px 148px #FFF , 817px 598px #FFF , 1763px 1066px #FFF , 409px 1563px #FFF , 177px 1373px #FFF , 103px 1436px #FFF , 381px 1793px #FFF , 980px 1437px #FFF , 1477px 1770px #FFF , 823px 803px #FFF , 559px 851px #FFF , 1159px 1524px #FFF , 58px 1432px #FFF , 1059px 1359px #FFF , 554px 1965px #FFF , 996px 1166px #FFF , 801px 1129px #FFF , 1506px 906px #FFF , 242px 628px #FFF , 591px 816px #FFF , 68px 342px #FFF , 775px 42px #FFF , 1855px 1972px #FFF , 656px 1541px #FFF , 362px 679px #FFF , 1094px 1962px #FFF , 1738px 1594px #FFF , 761px 1358px #FFF , 136px 1900px #FFF , 219px 1297px #FFF , 1857px 760px #FFF , 1229px 1683px #FFF , 1765px 1552px #FFF , 555px 1717px #FFF , 817px 1069px #FFF , 1909px 735px #FFF , 1078px 476px #FFF , 438px 724px #FFF , 1849px 1991px #FFF , 393px 1719px #FFF , 242px 1972px #FFF , 873px 1421px #FFF , 1907px 16px #FFF , 449px 1400px #FFF , 309px 1152px #FFF , 1412px 1333px #FFF , 1060px 445px #FFF , 1058px 146px #FFF , 866px 1197px #FFF , 685px 1324px #FFF , 818px 95px #FFF , 1983px 565px #FFF , 1536px 200px #FFF , 1965px 1088px #FFF , 1952px 1071px #FFF , 1188px 388px #FFF , 1127px 697px #FFF , 761px 1432px #FFF , 497px 1673px #FFF , 113px 911px #FFF , 1802px 1616px #FFF , 589px 471px #FFF , 522px 590px #FFF , 1075px 885px #FFF , 1810px 1057px #FFF , 1744px 1809px #FFF , 948px 665px #FFF , 417px 1532px #FFF , 1831px 514px #FFF , 819px 446px #FFF , 489px 1720px #FFF , 965px 704px #FFF , 138px 242px #FFF , 1525px 77px #FFF , 1250px 205px #FFF , 321px 572px #FFF , 1815px 164px #FFF , 1993px 656px #FFF , 1965px 1055px #FFF , 342px 1701px #FFF , 1318px 1083px #FFF , 1292px 608px #FFF , 50px 216px #FFF , 1279px 1105px #FFF , 169px 1393px #FFF , 1609px 1457px #FFF , 1502px 1357px #FFF , 1251px 1773px #FFF , 1463px 1199px #FFF , 230px 746px #FFF , 1113px 211px #FFF , 814px 968px #FFF , 1153px 988px #FFF , 1363px 479px #FFF , 1453px 920px #FFF , 1840px 1012px #FFF , 384px 1483px #FFF , 1537px 1266px #FFF , 338px 1406px #FFF , 918px 1805px #FFF , 1479px 1515px #FFF , 233px 1231px #FFF , 872px 344px #FFF , 637px 389px #FFF , 279px 1469px #FFF , 1296px 1672px #FFF , 1905px 689px #FFF , 1859px 1048px #FFF , 444px 469px #FFF , 637px 461px #FFF , 448px 20px #FFF , 1082px 1943px #FFF , 717px 188px #FFF , 637px 1659px #FFF , 506px 1620px #FFF , 1707px 424px #FFF , 1708px 494px #FFF , 611px 364px #FFF , 596px 1204px #FFF , 74px 244px #FFF , 1551px 1862px #FFF , 65px 1969px #FFF , 575px 1198px #FFF , 508px 1269px #FFF , 1199px 803px #FFF , 601px 545px #FFF , 593px 661px #FFF , 1348px 742px #FFF , 1001px 1029px #FFF , 1057px 228px #FFF , 1787px 509px #FFF , 1132px 1026px #FFF , 745px 409px #FFF , 815px 365px #FFF , 721px 168px #FFF , 704px 1134px #FFF , 992px 1135px #FFF , 552px 1940px #FFF , 158px 1484px #FFF , 637px 582px #FFF , 864px 1773px #FFF , 1107px 1821px #FFF , 1925px 1322px #FFF , 869px 583px #FFF , 809px 1942px #FFF , 785px 361px #FFF , 1203px 1376px #FFF , 1863px 1508px #FFF , 244px 1089px #FFF , 450px 686px #FFF , 456px 667px #FFF , 1945px 770px #FFF , 1316px 285px #FFF , 510px 1749px #FFF , 738px 1869px #FFF , 17px 1294px #FFF , 860px 1655px #FFF , 1518px 714px #FFF , 173px 178px #FFF , 1980px 885px #FFF , 1015px 393px #FFF , 1054px 539px #FFF;
  animation: animStar 100s linear infinite; }
  #stars:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 163px 1552px #FFF , 1884px 992px #FFF , 1527px 1613px #FFF , 983px 857px #FFF , 534px 1469px #FFF , 600px 1611px #FFF , 1377px 1443px #FFF , 1329px 1707px #FFF , 1054px 1469px #FFF , 388px 1028px #FFF , 871px 54px #FFF , 916px 1482px #FFF , 381px 1546px #FFF , 1715px 740px #FFF , 42px 1183px #FFF , 1099px 1451px #FFF , 794px 1381px #FFF , 1273px 279px #FFF , 1514px 1152px #FFF , 1598px 850px #FFF , 167px 214px #FFF , 360px 592px #FFF , 904px 1067px #FFF , 1846px 1979px #FFF , 1348px 1279px #FFF , 861px 619px #FFF , 429px 868px #FFF , 1234px 1120px #FFF , 1200px 804px #FFF , 1394px 1809px #FFF , 1177px 1704px #FFF , 848px 1662px #FFF , 1703px 1165px #FFF , 1363px 602px #FFF , 1901px 810px #FFF , 1412px 898px #FFF , 1019px 24px #FFF , 1232px 810px #FFF , 2px 1529px #FFF , 1953px 803px #FFF , 819px 1770px #FFF , 600px 789px #FFF , 247px 630px #FFF , 1362px 738px #FFF , 1621px 923px #FFF , 1658px 76px #FFF , 1928px 379px #FFF , 780px 1356px #FFF , 377px 1767px #FFF , 208px 308px #FFF , 258px 171px #FFF , 1297px 60px #FFF , 585px 1169px #FFF , 1149px 1350px #FFF , 834px 726px #FFF , 1598px 1280px #FFF , 309px 1488px #FFF , 410px 741px #FFF , 1667px 1185px #FFF , 1080px 455px #FFF , 1352px 1392px #FFF , 1356px 1721px #FFF , 1719px 1829px #FFF , 1607px 280px #FFF , 1245px 1721px #FFF , 1719px 209px #FFF , 1023px 251px #FFF , 1305px 167px #FFF , 555px 149px #FFF , 829px 1525px #FFF , 1664px 7px #FFF , 874px 1744px #FFF , 1504px 1876px #FFF , 645px 1488px #FFF , 881px 288px #FFF , 192px 493px #FFF , 105px 1740px #FFF , 1914px 1739px #FFF , 345px 339px #FFF , 1080px 1669px #FFF , 1873px 829px #FFF , 563px 593px #FFF , 352px 424px #FFF , 1844px 955px #FFF , 1209px 1760px #FFF , 418px 894px #FFF , 1049px 1375px #FFF , 1013px 1804px #FFF , 670px 1223px #FFF , 1168px 343px #FFF , 1359px 751px #FFF , 332px 1781px #FFF , 1149px 539px #FFF , 885px 1650px #FFF , 1443px 1489px #FFF , 443px 1872px #FFF , 417px 73px #FFF , 829px 8px #FFF , 1803px 941px #FFF , 113px 1669px #FFF , 1954px 362px #FFF , 1675px 1871px #FFF , 1004px 1838px #FFF , 769px 1392px #FFF , 1061px 186px #FFF , 1419px 312px #FFF , 311px 912px #FFF , 1399px 1155px #FFF , 444px 1704px #FFF , 702px 1503px #FFF , 1042px 564px #FFF , 211px 596px #FFF , 693px 1894px #FFF , 113px 99px #FFF , 145px 1836px #FFF , 918px 999px #FFF , 1267px 1987px #FFF , 221px 683px #FFF , 1333px 1332px #FFF , 275px 493px #FFF , 141px 267px #FFF , 91px 225px #FFF , 1622px 1411px #FFF , 1925px 925px #FFF , 234px 44px #FFF , 677px 728px #FFF , 1703px 1080px #FFF , 691px 572px #FFF , 1895px 1881px #FFF , 1332px 729px #FFF , 1344px 1067px #FFF , 544px 805px #FFF , 519px 831px #FFF , 1319px 1535px #FFF , 1756px 486px #FFF , 623px 760px #FFF , 1583px 202px #FFF , 350px 1361px #FFF , 698px 46px #FFF , 488px 908px #FFF , 1757px 1469px #FFF , 264px 1419px #FFF , 466px 1257px #FFF , 1848px 1264px #FFF , 633px 245px #FFF , 1866px 678px #FFF , 1969px 1217px #FFF , 1694px 1986px #FFF , 616px 49px #FFF , 1530px 1783px #FFF , 1429px 366px #FFF , 188px 1652px #FFF , 1771px 512px #FFF , 799px 862px #FFF , 1638px 331px #FFF , 821px 7px #FFF , 1469px 1623px #FFF , 970px 1532px #FFF , 122px 1530px #FFF , 57px 1498px #FFF , 57px 1277px #FFF , 298px 151px #FFF , 1492px 1085px #FFF , 191px 1201px #FFF , 1654px 1859px #FFF , 1011px 1395px #FFF , 652px 811px #FFF , 529px 1588px #FFF , 961px 1454px #FFF , 885px 319px #FFF , 1949px 1934px #FFF , 566px 494px #FFF , 542px 679px #FFF , 1112px 1382px #FFF , 1796px 170px #FFF , 1283px 1656px #FFF , 1274px 349px #FFF , 566px 1383px #FFF , 1209px 687px #FFF , 1170px 1125px #FFF , 1006px 1712px #FFF , 549px 1995px #FFF , 541px 726px #FFF , 1518px 147px #FFF , 796px 1789px #FFF , 294px 115px #FFF , 666px 1910px #FFF , 336px 83px #FFF , 1055px 1396px #FFF , 934px 310px #FFF , 1486px 1092px #FFF , 520px 1903px #FFF , 1630px 1595px #FFF , 733px 509px #FFF , 746px 240px #FFF , 705px 1322px #FFF , 1252px 1845px #FFF , 625px 1848px #FFF , 54px 66px #FFF , 1302px 70px #FFF , 1897px 67px #FFF , 1046px 1136px #FFF , 722px 929px #FFF , 720px 1818px #FFF , 1892px 912px #FFF , 1954px 1698px #FFF , 211px 478px #FFF , 1921px 1143px #FFF , 927px 1638px #FFF , 1658px 1015px #FFF , 1540px 31px #FFF , 612px 510px #FFF , 1229px 1341px #FFF , 909px 1357px #FFF , 1398px 1789px #FFF , 1665px 1005px #FFF , 1539px 1849px #FFF , 34px 1324px #FFF , 565px 1338px #FFF , 851px 579px #FFF , 1596px 530px #FFF , 1109px 463px #FFF , 869px 1489px #FFF , 1513px 733px #FFF , 1896px 1025px #FFF , 654px 1185px #FFF , 985px 188px #FFF , 100px 1274px #FFF , 870px 1147px #FFF , 982px 87px #FFF , 186px 233px #FFF , 1082px 885px #FFF , 1163px 591px #FFF , 133px 1042px #FFF , 671px 1914px #FFF , 677px 566px #FFF , 1169px 816px #FFF , 32px 1484px #FFF , 1155px 878px #FFF , 691px 519px #FFF , 614px 868px #FFF , 350px 684px #FFF , 1456px 1471px #FFF , 1390px 1287px #FFF , 767px 1507px #FFF , 312px 769px #FFF , 1086px 1319px #FFF , 80px 1491px #FFF , 790px 949px #FFF , 930px 854px #FFF , 638px 1461px #FFF , 148px 1437px #FFF , 301px 817px #FFF , 1911px 1385px #FFF , 1960px 545px #FFF , 1216px 1481px #FFF , 1839px 746px #FFF , 1029px 1564px #FFF , 35px 234px #FFF , 952px 1346px #FFF , 762px 579px #FFF , 877px 1592px #FFF , 192px 1922px #FFF , 1517px 1403px #FFF , 1515px 1758px #FFF , 390px 793px #FFF , 1016px 187px #FFF , 1515px 129px #FFF , 189px 1639px #FFF , 146px 318px #FFF , 440px 1518px #FFF , 1564px 1442px #FFF , 564px 22px #FFF , 521px 546px #FFF , 1500px 246px #FFF , 1728px 1635px #FFF , 1821px 1871px #FFF , 949px 321px #FFF , 1229px 1045px #FFF , 1828px 343px #FFF , 1882px 82px #FFF , 1282px 1324px #FFF , 555px 795px #FFF , 1280px 894px #FFF , 370px 1853px #FFF , 68px 1460px #FFF , 1423px 324px #FFF , 1603px 1360px #FFF , 327px 1924px #FFF , 380px 1046px #FFF , 1038px 1894px #FFF , 1870px 550px #FFF , 57px 645px #FFF , 455px 1089px #FFF , 1670px 1398px #FFF , 853px 1905px #FFF , 415px 1356px #FFF , 246px 18px #FFF , 670px 1214px #FFF , 1788px 191px #FFF , 969px 1141px #FFF , 1478px 1122px #FFF , 1831px 919px #FFF , 843px 1947px #FFF , 1248px 547px #FFF , 895px 1614px #FFF , 1464px 1872px #FFF , 721px 1128px #FFF , 551px 1245px #FFF , 1716px 399px #FFF , 53px 1366px #FFF , 1426px 540px #FFF , 564px 434px #FFF , 860px 816px #FFF , 18px 552px #FFF , 1838px 795px #FFF , 1581px 1008px #FFF , 666px 339px #FFF , 1878px 1745px #FFF , 1124px 1612px #FFF , 708px 1182px #FFF , 1799px 1100px #FFF , 410px 485px #FFF , 1117px 964px #FFF , 1315px 466px #FFF , 1527px 1754px #FFF , 1737px 785px #FFF , 407px 1442px #FFF , 1825px 1972px #FFF , 445px 1779px #FFF , 403px 1370px #FFF , 1574px 854px #FFF , 218px 826px #FFF , 1079px 1251px #FFF , 1587px 1064px #FFF , 1086px 1779px #FFF , 1672px 543px #FFF , 1030px 1448px #FFF , 305px 856px #FFF , 1975px 445px #FFF , 160px 229px #FFF , 322px 1379px #FFF , 1110px 918px #FFF , 1611px 1424px #FFF , 593px 190px #FFF , 128px 820px #FFF , 1619px 165px #FFF , 1037px 121px #FFF , 931px 1904px #FFF , 577px 1466px #FFF , 1433px 399px #FFF , 13px 733px #FFF , 186px 291px #FFF , 1419px 714px #FFF , 702px 71px #FFF , 1544px 629px #FFF , 983px 1678px #FFF , 1733px 1816px #FFF , 217px 1656px #FFF , 758px 1701px #FFF , 1936px 189px #FFF , 1789px 1052px #FFF , 1118px 76px #FFF , 640px 299px #FFF , 1001px 234px #FFF , 819px 1827px #FFF , 1291px 279px #FFF , 1493px 401px #FFF , 319px 368px #FFF , 1444px 315px #FFF , 1468px 683px #FFF , 212px 1702px #FFF , 186px 482px #FFF , 680px 744px #FFF , 276px 1943px #FFF , 1447px 1514px #FFF , 467px 902px #FFF , 1226px 230px #FFF , 1268px 1224px #FFF , 542px 477px #FFF , 512px 1017px #FFF , 1671px 521px #FFF , 1481px 1734px #FFF , 596px 70px #FFF , 653px 1037px #FFF , 1435px 729px #FFF , 1335px 1952px #FFF , 554px 438px #FFF , 373px 982px #FFF , 1545px 214px #FFF , 1648px 1311px #FFF , 729px 665px #FFF , 297px 359px #FFF , 206px 718px #FFF , 1243px 1607px #FFF , 366px 236px #FFF , 1680px 1136px #FFF , 590px 728px #FFF , 140px 146px #FFF , 1447px 69px #FFF , 1953px 1313px #FFF , 1503px 1274px #FFF , 407px 996px #FFF , 1971px 206px #FFF , 641px 1258px #FFF , 459px 368px #FFF , 1558px 1477px #FFF , 718px 1334px #FFF , 1345px 1062px #FFF , 34px 1366px #FFF , 1222px 1177px #FFF , 1178px 1020px #FFF , 1740px 1151px #FFF , 755px 1606px #FFF , 465px 1078px #FFF , 1100px 1063px #FFF , 1585px 1267px #FFF , 925px 498px #FFF , 169px 1691px #FFF , 292px 1858px #FFF , 1479px 47px #FFF , 967px 558px #FFF , 1200px 599px #FFF , 793px 833px #FFF , 568px 556px #FFF , 1290px 1258px #FFF , 1698px 295px #FFF , 1230px 1311px #FFF , 1281px 898px #FFF , 1720px 225px #FFF , 27px 487px #FFF , 106px 187px #FFF , 965px 332px #FFF , 1416px 705px #FFF , 1334px 555px #FFF , 41px 1506px #FFF , 592px 787px #FFF , 322px 499px #FFF , 1980px 382px #FFF , 1877px 958px #FFF , 1736px 1029px #FFF , 1539px 541px #FFF , 1140px 391px #FFF , 461px 952px #FFF , 1444px 1679px #FFF , 1610px 1940px #FFF , 1082px 1078px #FFF , 1361px 578px #FFF , 1331px 288px #FFF , 1582px 1454px #FFF , 480px 1573px #FFF , 1185px 71px #FFF , 759px 51px #FFF , 787px 688px #FFF , 1540px 470px #FFF , 4px 1126px #FFF , 1569px 1115px #FFF , 478px 266px #FFF , 1362px 1187px #FFF , 1241px 39px #FFF , 1067px 580px #FFF , 500px 915px #FFF , 854px 556px #FFF , 686px 342px #FFF , 990px 479px #FFF , 1520px 1534px #FFF , 296px 681px #FFF , 1267px 1729px #FFF , 221px 1603px #FFF , 33px 45px #FFF , 131px 797px #FFF , 73px 1050px #FFF , 336px 1677px #FFF , 1568px 1949px #FFF , 57px 652px #FFF , 912px 769px #FFF , 1731px 1588px #FFF , 1847px 1147px #FFF , 1563px 1010px #FFF , 1243px 1222px #FFF , 1979px 1669px #FFF , 1990px 95px #FFF , 1369px 1404px #FFF , 1649px 1043px #FFF , 1514px 326px #FFF , 94px 1886px #FFF , 633px 1225px #FFF , 947px 885px #FFF , 393px 766px #FFF , 160px 876px #FFF , 1735px 1612px #FFF , 411px 606px #FFF , 843px 156px #FFF , 1660px 1487px #FFF , 505px 89px #FFF , 405px 1785px #FFF , 354px 1410px #FFF , 1064px 1483px #FFF , 1428px 526px #FFF , 1101px 1353px #FFF , 1333px 189px #FFF , 1133px 406px #FFF , 1002px 1309px #FFF , 861px 99px #FFF , 650px 269px #FFF , 350px 1419px #FFF , 1234px 1590px #FFF , 968px 65px #FFF , 1593px 373px #FFF , 1873px 898px #FFF , 335px 301px #FFF , 1803px 1189px #FFF , 653px 315px #FFF , 1575px 659px #FFF , 241px 358px #FFF , 1589px 1142px #FFF , 530px 1293px #FFF , 1569px 1544px #FFF , 620px 453px #FFF , 1094px 1393px #FFF , 793px 94px #FFF , 1401px 1133px #FFF , 114px 1606px #FFF , 384px 553px #FFF , 44px 1989px #FFF , 539px 850px #FFF , 458px 127px #FFF , 432px 46px #FFF , 1046px 859px #FFF , 1670px 1643px #FFF , 1428px 170px #FFF , 573px 1866px #FFF , 557px 1495px #FFF , 1620px 1599px #FFF , 238px 373px #FFF , 1047px 1468px #FFF , 1866px 110px #FFF , 1209px 651px #FFF , 1292px 148px #FFF , 817px 598px #FFF , 1763px 1066px #FFF , 409px 1563px #FFF , 177px 1373px #FFF , 103px 1436px #FFF , 381px 1793px #FFF , 980px 1437px #FFF , 1477px 1770px #FFF , 823px 803px #FFF , 559px 851px #FFF , 1159px 1524px #FFF , 58px 1432px #FFF , 1059px 1359px #FFF , 554px 1965px #FFF , 996px 1166px #FFF , 801px 1129px #FFF , 1506px 906px #FFF , 242px 628px #FFF , 591px 816px #FFF , 68px 342px #FFF , 775px 42px #FFF , 1855px 1972px #FFF , 656px 1541px #FFF , 362px 679px #FFF , 1094px 1962px #FFF , 1738px 1594px #FFF , 761px 1358px #FFF , 136px 1900px #FFF , 219px 1297px #FFF , 1857px 760px #FFF , 1229px 1683px #FFF , 1765px 1552px #FFF , 555px 1717px #FFF , 817px 1069px #FFF , 1909px 735px #FFF , 1078px 476px #FFF , 438px 724px #FFF , 1849px 1991px #FFF , 393px 1719px #FFF , 242px 1972px #FFF , 873px 1421px #FFF , 1907px 16px #FFF , 449px 1400px #FFF , 309px 1152px #FFF , 1412px 1333px #FFF , 1060px 445px #FFF , 1058px 146px #FFF , 866px 1197px #FFF , 685px 1324px #FFF , 818px 95px #FFF , 1983px 565px #FFF , 1536px 200px #FFF , 1965px 1088px #FFF , 1952px 1071px #FFF , 1188px 388px #FFF , 1127px 697px #FFF , 761px 1432px #FFF , 497px 1673px #FFF , 113px 911px #FFF , 1802px 1616px #FFF , 589px 471px #FFF , 522px 590px #FFF , 1075px 885px #FFF , 1810px 1057px #FFF , 1744px 1809px #FFF , 948px 665px #FFF , 417px 1532px #FFF , 1831px 514px #FFF , 819px 446px #FFF , 489px 1720px #FFF , 965px 704px #FFF , 138px 242px #FFF , 1525px 77px #FFF , 1250px 205px #FFF , 321px 572px #FFF , 1815px 164px #FFF , 1993px 656px #FFF , 1965px 1055px #FFF , 342px 1701px #FFF , 1318px 1083px #FFF , 1292px 608px #FFF , 50px 216px #FFF , 1279px 1105px #FFF , 169px 1393px #FFF , 1609px 1457px #FFF , 1502px 1357px #FFF , 1251px 1773px #FFF , 1463px 1199px #FFF , 230px 746px #FFF , 1113px 211px #FFF , 814px 968px #FFF , 1153px 988px #FFF , 1363px 479px #FFF , 1453px 920px #FFF , 1840px 1012px #FFF , 384px 1483px #FFF , 1537px 1266px #FFF , 338px 1406px #FFF , 918px 1805px #FFF , 1479px 1515px #FFF , 233px 1231px #FFF , 872px 344px #FFF , 637px 389px #FFF , 279px 1469px #FFF , 1296px 1672px #FFF , 1905px 689px #FFF , 1859px 1048px #FFF , 444px 469px #FFF , 637px 461px #FFF , 448px 20px #FFF , 1082px 1943px #FFF , 717px 188px #FFF , 637px 1659px #FFF , 506px 1620px #FFF , 1707px 424px #FFF , 1708px 494px #FFF , 611px 364px #FFF , 596px 1204px #FFF , 74px 244px #FFF , 1551px 1862px #FFF , 65px 1969px #FFF , 575px 1198px #FFF , 508px 1269px #FFF , 1199px 803px #FFF , 601px 545px #FFF , 593px 661px #FFF , 1348px 742px #FFF , 1001px 1029px #FFF , 1057px 228px #FFF , 1787px 509px #FFF , 1132px 1026px #FFF , 745px 409px #FFF , 815px 365px #FFF , 721px 168px #FFF , 704px 1134px #FFF , 992px 1135px #FFF , 552px 1940px #FFF , 158px 1484px #FFF , 637px 582px #FFF , 864px 1773px #FFF , 1107px 1821px #FFF , 1925px 1322px #FFF , 869px 583px #FFF , 809px 1942px #FFF , 785px 361px #FFF , 1203px 1376px #FFF , 1863px 1508px #FFF , 244px 1089px #FFF , 450px 686px #FFF , 456px 667px #FFF , 1945px 770px #FFF , 1316px 285px #FFF , 510px 1749px #FFF , 738px 1869px #FFF , 17px 1294px #FFF , 860px 1655px #FFF , 1518px 714px #FFF , 173px 178px #FFF , 1980px 885px #FFF , 1015px 393px #FFF , 1054px 539px #FFF; }

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1741px 1942px #FFF , 13px 854px #FFF , 1182px 584px #FFF , 1294px 861px #FFF , 688px 995px #FFF , 1274px 1620px #FFF , 1973px 790px #FFF , 123px 1176px #FFF , 1770px 523px #FFF , 874px 944px #FFF , 1964px 1586px #FFF , 112px 1080px #FFF , 1124px 909px #FFF , 515px 1941px #FFF , 930px 1040px #FFF , 1258px 1302px #FFF , 1564px 980px #FFF , 1049px 1886px #FFF , 1195px 499px #FFF , 1792px 1077px #FFF , 1646px 137px #FFF , 1723px 672px #FFF , 1125px 1386px #FFF , 93px 671px #FFF , 1398px 265px #FFF , 995px 523px #FFF , 1935px 104px #FFF , 1170px 1498px #FFF , 1168px 1172px #FFF , 1805px 759px #FFF , 1338px 1537px #FFF , 1908px 122px #FFF , 743px 378px #FFF , 1185px 1516px #FFF , 1775px 1438px #FFF , 1370px 632px #FFF , 249px 1738px #FFF , 1262px 1025px #FFF , 71px 320px #FFF , 105px 1118px #FFF , 771px 1141px #FFF , 97px 1055px #FFF , 415px 209px #FFF , 1581px 1968px #FFF , 959px 1093px #FFF , 1620px 820px #FFF , 43px 1787px #FFF , 555px 1040px #FFF , 1022px 1841px #FFF , 1570px 1696px #FFF , 1383px 1548px #FFF , 1221px 724px #FFF , 1081px 729px #FFF , 588px 1275px #FFF , 1779px 1462px #FFF , 1831px 1109px #FFF , 393px 1840px #FFF , 357px 1509px #FFF , 1793px 895px #FFF , 704px 980px #FFF , 990px 929px #FFF , 878px 157px #FFF , 524px 668px #FFF , 1283px 426px #FFF , 1731px 741px #FFF , 608px 1738px #FFF , 774px 1411px #FFF , 522px 876px #FFF , 481px 1838px #FFF , 1691px 478px #FFF , 266px 490px #FFF , 1606px 1888px #FFF , 719px 1431px #FFF , 1250px 353px #FFF , 698px 900px #FFF , 1244px 943px #FFF , 511px 1054px #FFF , 851px 1557px #FFF , 977px 181px #FFF , 169px 1649px #FFF , 301px 198px #FFF , 276px 1784px #FFF , 1073px 1900px #FFF , 90px 584px #FFF , 339px 993px #FFF , 978px 1644px #FFF , 1093px 840px #FFF , 744px 1053px #FFF , 383px 457px #FFF , 1603px 1311px #FFF , 854px 1704px #FFF , 1898px 1844px #FFF , 1884px 688px #FFF , 1505px 374px #FFF , 1248px 238px #FFF , 1967px 120px #FFF , 1937px 1642px #FFF , 871px 1519px #FFF , 913px 145px #FFF , 1213px 747px #FFF , 1913px 1368px #FFF , 1293px 580px #FFF , 1054px 1741px #FFF , 1503px 376px #FFF , 352px 1769px #FFF , 14px 211px #FFF , 457px 1044px #FFF , 1939px 571px #FFF , 1436px 1772px #FFF , 103px 952px #FFF , 806px 1959px #FFF , 1153px 1884px #FFF , 884px 1154px #FFF , 1290px 1186px #FFF , 1317px 1247px #FFF , 1799px 1213px #FFF , 1664px 1339px #FFF , 1614px 974px #FFF , 1029px 1098px #FFF , 141px 1265px #FFF , 1939px 1166px #FFF , 1858px 1211px #FFF , 1770px 1372px #FFF , 1938px 190px #FFF , 1084px 998px #FFF , 1882px 1796px #FFF , 1031px 152px #FFF , 1842px 1757px #FFF , 1227px 1418px #FFF , 101px 1830px #FFF , 334px 408px #FFF , 1863px 323px #FFF , 1053px 1071px #FFF , 1290px 947px #FFF , 1462px 588px #FFF , 1158px 1352px #FFF , 740px 1450px #FFF , 90px 6px #FFF , 1325px 852px #FFF , 728px 1228px #FFF , 1807px 1657px #FFF , 1251px 1461px #FFF , 809px 453px #FFF , 1368px 902px #FFF , 1959px 688px #FFF , 518px 1433px #FFF , 883px 1626px #FFF , 233px 99px #FFF , 994px 90px #FFF , 504px 1566px #FFF , 48px 746px #FFF , 941px 1641px #FFF , 1930px 197px #FFF , 1575px 925px #FFF , 184px 721px #FFF , 819px 904px #FFF , 116px 343px #FFF , 1896px 1384px #FFF , 724px 898px #FFF , 576px 591px #FFF , 1592px 500px #FFF , 732px 1243px #FFF , 498px 1681px #FFF , 1598px 410px #FFF , 505px 81px #FFF , 754px 746px #FFF , 1419px 501px #FFF , 828px 1855px #FFF , 307px 983px #FFF , 601px 1707px #FFF , 1912px 112px #FFF , 178px 1970px #FFF , 1518px 993px #FFF , 1749px 1035px #FFF , 554px 1408px #FFF , 1796px 1940px #FFF , 1104px 914px #FFF , 587px 1816px #FFF , 1779px 38px #FFF , 1097px 780px #FFF , 757px 1813px #FFF , 1034px 1136px #FFF , 365px 832px #FFF , 1264px 887px #FFF , 44px 321px #FFF , 1877px 67px #FFF , 577px 1543px #FFF , 1390px 1937px #FFF , 517px 847px #FFF , 126px 445px #FFF , 744px 336px #FFF , 281px 1967px #FFF , 1263px 1653px #FFF , 224px 1591px #FFF , 1846px 697px #FFF , 695px 1186px #FFF , 1537px 375px #FFF , 1851px 658px #FFF , 1223px 1374px #FFF , 811px 1113px #FFF;
  animation: animStar 200s linear infinite; }
  #stars2:after {
    content: " ";
    position: absolute;
    z-index: 2;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 1741px 1942px #FFF , 13px 854px #FFF , 1182px 584px #FFF , 1294px 861px #FFF , 688px 995px #FFF , 1274px 1620px #FFF , 1973px 790px #FFF , 123px 1176px #FFF , 1770px 523px #FFF , 874px 944px #FFF , 1964px 1586px #FFF , 112px 1080px #FFF , 1124px 909px #FFF , 515px 1941px #FFF , 930px 1040px #FFF , 1258px 1302px #FFF , 1564px 980px #FFF , 1049px 1886px #FFF , 1195px 499px #FFF , 1792px 1077px #FFF , 1646px 137px #FFF , 1723px 672px #FFF , 1125px 1386px #FFF , 93px 671px #FFF , 1398px 265px #FFF , 995px 523px #FFF , 1935px 104px #FFF , 1170px 1498px #FFF , 1168px 1172px #FFF , 1805px 759px #FFF , 1338px 1537px #FFF , 1908px 122px #FFF , 743px 378px #FFF , 1185px 1516px #FFF , 1775px 1438px #FFF , 1370px 632px #FFF , 249px 1738px #FFF , 1262px 1025px #FFF , 71px 320px #FFF , 105px 1118px #FFF , 771px 1141px #FFF , 97px 1055px #FFF , 415px 209px #FFF , 1581px 1968px #FFF , 959px 1093px #FFF , 1620px 820px #FFF , 43px 1787px #FFF , 555px 1040px #FFF , 1022px 1841px #FFF , 1570px 1696px #FFF , 1383px 1548px #FFF , 1221px 724px #FFF , 1081px 729px #FFF , 588px 1275px #FFF , 1779px 1462px #FFF , 1831px 1109px #FFF , 393px 1840px #FFF , 357px 1509px #FFF , 1793px 895px #FFF , 704px 980px #FFF , 990px 929px #FFF , 878px 157px #FFF , 524px 668px #FFF , 1283px 426px #FFF , 1731px 741px #FFF , 608px 1738px #FFF , 774px 1411px #FFF , 522px 876px #FFF , 481px 1838px #FFF , 1691px 478px #FFF , 266px 490px #FFF , 1606px 1888px #FFF , 719px 1431px #FFF , 1250px 353px #FFF , 698px 900px #FFF , 1244px 943px #FFF , 511px 1054px #FFF , 851px 1557px #FFF , 977px 181px #FFF , 169px 1649px #FFF , 301px 198px #FFF , 276px 1784px #FFF , 1073px 1900px #FFF , 90px 584px #FFF , 339px 993px #FFF , 978px 1644px #FFF , 1093px 840px #FFF , 744px 1053px #FFF , 383px 457px #FFF , 1603px 1311px #FFF , 854px 1704px #FFF , 1898px 1844px #FFF , 1884px 688px #FFF , 1505px 374px #FFF , 1248px 238px #FFF , 1967px 120px #FFF , 1937px 1642px #FFF , 871px 1519px #FFF , 913px 145px #FFF , 1213px 747px #FFF , 1913px 1368px #FFF , 1293px 580px #FFF , 1054px 1741px #FFF , 1503px 376px #FFF , 352px 1769px #FFF , 14px 211px #FFF , 457px 1044px #FFF , 1939px 571px #FFF , 1436px 1772px #FFF , 103px 952px #FFF , 806px 1959px #FFF , 1153px 1884px #FFF , 884px 1154px #FFF , 1290px 1186px #FFF , 1317px 1247px #FFF , 1799px 1213px #FFF , 1664px 1339px #FFF , 1614px 974px #FFF , 1029px 1098px #FFF , 141px 1265px #FFF , 1939px 1166px #FFF , 1858px 1211px #FFF , 1770px 1372px #FFF , 1938px 190px #FFF , 1084px 998px #FFF , 1882px 1796px #FFF , 1031px 152px #FFF , 1842px 1757px #FFF , 1227px 1418px #FFF , 101px 1830px #FFF , 334px 408px #FFF , 1863px 323px #FFF , 1053px 1071px #FFF , 1290px 947px #FFF , 1462px 588px #FFF , 1158px 1352px #FFF , 740px 1450px #FFF , 90px 6px #FFF , 1325px 852px #FFF , 728px 1228px #FFF , 1807px 1657px #FFF , 1251px 1461px #FFF , 809px 453px #FFF , 1368px 902px #FFF , 1959px 688px #FFF , 518px 1433px #FFF , 883px 1626px #FFF , 233px 99px #FFF , 994px 90px #FFF , 504px 1566px #FFF , 48px 746px #FFF , 941px 1641px #FFF , 1930px 197px #FFF , 1575px 925px #FFF , 184px 721px #FFF , 819px 904px #FFF , 116px 343px #FFF , 1896px 1384px #FFF , 724px 898px #FFF , 576px 591px #FFF , 1592px 500px #FFF , 732px 1243px #FFF , 498px 1681px #FFF , 1598px 410px #FFF , 505px 81px #FFF , 754px 746px #FFF , 1419px 501px #FFF , 828px 1855px #FFF , 307px 983px #FFF , 601px 1707px #FFF , 1912px 112px #FFF , 178px 1970px #FFF , 1518px 993px #FFF , 1749px 1035px #FFF , 554px 1408px #FFF , 1796px 1940px #FFF , 1104px 914px #FFF , 587px 1816px #FFF , 1779px 38px #FFF , 1097px 780px #FFF , 757px 1813px #FFF , 1034px 1136px #FFF , 365px 832px #FFF , 1264px 887px #FFF , 44px 321px #FFF , 1877px 67px #FFF , 577px 1543px #FFF , 1390px 1937px #FFF , 517px 847px #FFF , 126px 445px #FFF , 744px 336px #FFF , 281px 1967px #FFF , 1263px 1653px #FFF , 224px 1591px #FFF , 1846px 697px #FFF , 695px 1186px #FFF , 1537px 375px #FFF , 1851px 658px #FFF , 1223px 1374px #FFF , 811px 1113px #FFF; }

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 905px 1219px #FFF , 1155px 422px #FFF , 555px 153px #FFF , 476px 810px #FFF , 1591px 1922px #FFF , 26px 1890px #FFF , 412px 1764px #FFF , 1398px 216px #FFF , 958px 309px #FFF , 1163px 1911px #FFF , 95px 637px #FFF , 1273px 1705px #FFF , 535px 1898px #FFF , 1213px 1537px #FFF , 1876px 920px #FFF , 858px 262px #FFF , 1854px 1968px #FFF , 746px 1168px #FFF , 1169px 359px #FFF , 1764px 1044px #FFF , 314px 219px #FFF , 270px 1650px #FFF , 1360px 1543px #FFF , 447px 1106px #FFF , 166px 1826px #FFF , 170px 1132px #FFF , 1417px 1851px #FFF , 167px 1344px #FFF , 1407px 138px #FFF , 163px 815px #FFF , 392px 1529px #FFF , 707px 997px #FFF , 244px 1271px #FFF , 1919px 644px #FFF , 421px 1757px #FFF , 1833px 1439px #FFF , 1087px 1079px #FFF , 1680px 486px #FFF , 467px 1309px #FFF , 1694px 1424px #FFF , 801px 489px #FFF , 262px 806px #FFF , 1838px 1563px #FFF , 1859px 1694px #FFF , 616px 143px #FFF , 1774px 57px #FFF , 1854px 518px #FFF , 96px 982px #FFF , 1374px 74px #FFF , 455px 1288px #FFF , 208px 548px #FFF , 291px 627px #FFF , 1990px 1699px #FFF , 759px 1107px #FFF , 171px 1687px #FFF , 1965px 1728px #FFF , 1432px 251px #FFF , 1642px 1289px #FFF , 1929px 780px #FFF , 1427px 1796px #FFF , 1940px 118px #FFF , 1358px 436px #FFF , 1543px 650px #FFF , 289px 114px #FFF , 110px 102px #FFF , 51px 177px #FFF , 1578px 1572px #FFF , 1591px 370px #FFF , 57px 179px #FFF , 78px 122px #FFF , 1685px 1647px #FFF , 1132px 186px #FFF , 1240px 1165px #FFF , 744px 1794px #FFF , 970px 1459px #FFF , 931px 1993px #FFF , 590px 438px #FFF , 132px 1078px #FFF , 1002px 1623px #FFF , 1834px 524px #FFF , 694px 26px #FFF , 147px 188px #FFF , 1757px 1069px #FFF , 600px 1559px #FFF , 1943px 221px #FFF , 597px 1786px #FFF , 732px 77px #FFF , 722px 170px #FFF , 553px 1449px #FFF , 1273px 1827px #FFF , 1471px 1190px #FFF , 890px 407px #FFF , 186px 1557px #FFF , 1656px 1174px #FFF , 491px 577px #FFF , 1846px 785px #FFF , 1546px 1713px #FFF , 369px 630px #FFF , 1136px 514px #FFF , 302px 1486px #FFF;
  animation: animStar 300s linear infinite; }
  #stars3:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 905px 1219px #FFF , 1155px 422px #FFF , 555px 153px #FFF , 476px 810px #FFF , 1591px 1922px #FFF , 26px 1890px #FFF , 412px 1764px #FFF , 1398px 216px #FFF , 958px 309px #FFF , 1163px 1911px #FFF , 95px 637px #FFF , 1273px 1705px #FFF , 535px 1898px #FFF , 1213px 1537px #FFF , 1876px 920px #FFF , 858px 262px #FFF , 1854px 1968px #FFF , 746px 1168px #FFF , 1169px 359px #FFF , 1764px 1044px #FFF , 314px 219px #FFF , 270px 1650px #FFF , 1360px 1543px #FFF , 447px 1106px #FFF , 166px 1826px #FFF , 170px 1132px #FFF , 1417px 1851px #FFF , 167px 1344px #FFF , 1407px 138px #FFF , 163px 815px #FFF , 392px 1529px #FFF , 707px 997px #FFF , 244px 1271px #FFF , 1919px 644px #FFF , 421px 1757px #FFF , 1833px 1439px #FFF , 1087px 1079px #FFF , 1680px 486px #FFF , 467px 1309px #FFF , 1694px 1424px #FFF , 801px 489px #FFF , 262px 806px #FFF , 1838px 1563px #FFF , 1859px 1694px #FFF , 616px 143px #FFF , 1774px 57px #FFF , 1854px 518px #FFF , 96px 982px #FFF , 1374px 74px #FFF , 455px 1288px #FFF , 208px 548px #FFF , 291px 627px #FFF , 1990px 1699px #FFF , 759px 1107px #FFF , 171px 1687px #FFF , 1965px 1728px #FFF , 1432px 251px #FFF , 1642px 1289px #FFF , 1929px 780px #FFF , 1427px 1796px #FFF , 1940px 118px #FFF , 1358px 436px #FFF , 1543px 650px #FFF , 289px 114px #FFF , 110px 102px #FFF , 51px 177px #FFF , 1578px 1572px #FFF , 1591px 370px #FFF , 57px 179px #FFF , 78px 122px #FFF , 1685px 1647px #FFF , 1132px 186px #FFF , 1240px 1165px #FFF , 744px 1794px #FFF , 970px 1459px #FFF , 931px 1993px #FFF , 590px 438px #FFF , 132px 1078px #FFF , 1002px 1623px #FFF , 1834px 524px #FFF , 694px 26px #FFF , 147px 188px #FFF , 1757px 1069px #FFF , 600px 1559px #FFF , 1943px 221px #FFF , 597px 1786px #FFF , 732px 77px #FFF , 722px 170px #FFF , 553px 1449px #FFF , 1273px 1827px #FFF , 1471px 1190px #FFF , 890px 407px #FFF , 186px 1557px #FFF , 1656px 1174px #FFF , 491px 577px #FFF , 1846px 785px #FFF , 1546px 1713px #FFF , 369px 630px #FFF , 1136px 514px #FFF , 302px 1486px #FFF; }
    @keyframes animStar {
      from {
        transform: translateY(0px); }
      to {
        transform: translateY(-2000px); } }
    .game h1{
    font-family: coolFont;
    color: white;
    font-size: 3em;
    margin-bottom: 5px;
    margin-top: 5px;
    }
    .game{
      font-family: Arial, Helvetica, sans-serif;
      color: white;
      font-size: 1.5em;
    }
    .intro{width: 30%;
    margin-left: 10%;
    margin-top: 15%;}

    .team h1{
    font-family: coolFont;
    text-align: center;
    font-size: 3em;
    margin-bottom: 5px;
    margin-top: -7%;
    background: linear-gradient(42deg, #2a2550b2 ,#e04b01d7 ,#ff9a41 );
    background-size: 600% 600%;
    
    -webkit-animation: AnimationName 3s ease infinite;
    -moz-animation: AnimationName 3s ease infinite;
    -o-animation: AnimationName 3s ease infinite;
    animation: AnimationName 3s ease infinite;
   
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }
    .profileBlock{
      width:18%;
      margin-left: 5%;
      float: left;
      text-align: center;
    }
    .profileBlock img{
      width: 100%;
    }
/* 251D3A 2A2550 E04D01 FF7700 */